# Ignorar archivos y carpetas generados automáticamente por Python
__pycache__/
*.pyc

# Opcional: ignorar configuraciones locales
.vscode/
.env

# Carpetas de reportes generadas por Allure
allure-results/
allure-report/